<%- include('partials/header'); -%>



    <h1>Home</h1>
    <p>
        <%= pData %>
    </p>






    <% userposts.forEach(function(post){ %>


        <h1>

            <%= post.title %>

                </form>
        </h1>
        <p>
            <%= post.description.substring(0,100) %>....
                <a href="/posts/<%= post.title %>">Read More</a>
        </p>
        <% }) %>


            <%- include('partials/footer'); -%>